*{
    box-sizing:border-box;

}
body{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    overflow:hidden;
    margin:0;
}
.container{
    text-align:center;

}
.progress-container{
    display:flex;
    justify-content:space-between;
    position:relative;
    margin-bottom:90px;
    max-width:100%;
    width:400px;
}
.progress{
    background-color:rgb(83, 83, 196);
    position:absolute;
    top:50%;
    left:0%;
    height:5px;
    width:0;
    z-index:-1;
    transform:translateY(-50%);
    transition:2s ease;
}
.progress-container::before{
    content:"";
    background-color: rgb(200, 201, 201);
    position:absolute;
    top:50%;
    left:0%;
    height:4px;
    width:100%;
    z-index:-1;
    transform:translateY(-50%);
}
.circle{
    background-color: rgb(200, 201, 201);
   
    border-radius:50%;
    width:30px;
    height:30px;
    display:flex;
    align-items: center;
    justify-content:center;
    border:3px solid  rgb(200, 201, 201) ;
    transition:4s ease;


}
.circle.active{
    border-color:blue;

}
.btn{
    background-color:blue;
    color:burlywood;
    border:0;
    border-radius:7px;
    cursor:pointer;
    padding:5px 25px;
    margin:6px;
    font-size:14px;
}
.btn:active{
    transform:scale(0.98);
}
.btn:focus{
    outline:0;
}
.btn:disabled{
    background-color:cadetblue;
    cursor:not-allowed;
}